name: Build and Execution Test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron:  '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # Cancel previous runs on new push

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install tools
        uses: ARM-software/cmsis-actions/vcpkg@v1

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1

      - name: Cache packs
        uses: actions/cache@v5
        with:
          key: cmsis-packs-${{ hashFiles('*.csolution.yml', '*.cproject.yml') }}
          restore-keys: |
            cmsis-packs-
          path: /home/runner/.cache/arm/packs

      - name: Build and Execute All Configurations
        working-directory: ./
        run: |
            chmod +x .github/scripts/run-tests.sh
            .github/scripts/run-tests.sh .github/test-matrix.json

      - name: Upload Failed Test Logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: failed-test-logs-${{ github.workflow }}
          path: logs/
          retention-days: 30
